body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
}

.dark-mode .container {
    background-color: #424242;
}

.mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dark-mode .mode-toggle {
    background-color: #0056b3;
}

input[type="text"] {
    display: block;
    margin: 10px auto; /* Centers the input */
    width: 90%; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.dark-mode input[type="text"] {
    border-color: #777;
    background-color: #555;
    color: #fff;
}

.predict-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dark-mode .predict-button {
    background-color: #1e7e34;
}

#prediction {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.bert-image {
    width: 100%;
    /* Adjust the width as needed, or set a max-width */
    height: auto;
    display: block;
    margin: 20px auto;
    /* Centers the image horizontally */
}